<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pygmentize Example</title>
    <link rel="me" href="http://www.google.com/profiles/samsoffes" />
    <link rel="author" type="text/plain" href="http://samsoff.es/humans.txt" />
    <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <h1>Pygmentize Example</h1>
    </header>
    <section>
      <p><a href="https://github.com/djanowski/pygmentize" rel="external nofollow">Pygmentize</a> is a fantastic gem for syntax highlighting. It's super easy to get going, even <a href="http://pygmentize-example.herokuapp.com/">on Heroku</a>! If you're using Heroku, be sure you use the <a href="http://devcenter.heroku.com/articles/cedar" rel="external nofollow">Cedar Stack</a>.</p>
      
      <p>The source for this little is below. Very meta, I know. See the <a href="https://github.com/samsoffes/pygmentize-example" rel="external nofollow">full project on GitHub</a>. <span class="gray">This fun example is brought to you by <a href="http://samsoff.es" rel="external nofollow">Sam Soffes</a>.</span></p>
        
      <h3>Sinatra App</h3>
      <%= @source %>
  
      <h3>Gemfile</h3>
      <%= @gemfile %>
    
      <h3>config.ru</h3>
      <%= @config %>
    </section>
  </body>
</html>
